body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
}
#navbar{
    margin: 0 auto;
    width: 80%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* color: #ffffff; */
}
#logo{
    margin: 0;
    padding: 0;
    display: flex;
    height: 6vh;
  
    justify-content: space-between;
    color: #ffffff;
}
#nav-items{
display: flex;
color: #ffffff;
gap:50px;
align-items: center;
justify-content: space-between;
list-style: none;
}
#nav-items li{
    cursor: pointer;
}
.card{
    width: 350px;
    height: 305px;
    min-height: 22px;
    
    border-radius: 15px;
    display: flex;
    background-color: #3c6777;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    float: right;
    
}
.card h4{
    margin: 0;
    padding: 0;
}
.card p{
    margin: 0;
    padding:0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    cursor: pointer;
    background-color: green;
    color: #ffffff; 
    padding: 20px 30px;
    margin: 0 80px;
   
    font-size: 15px;
    border: 1px solid;
}

.overview_items{
margin: 0;
padding: 0;
width: 100vw;
height: 25vh;
 box-sizing: border-box;
background: blue;
display: flex;
color: #ffffff;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  font-size: 10px;
  
}







.band {
    gap: 15%;
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 100px;
    transform: rotate(-2deg);
    background:red;
    
   
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}


.main-title{
    font-size: 1rem;
}

.main-info{
    /* display:flex; */
    flex-direction: column;
  
}
.content{
    /* display: flex; */
    align-items: center;
    justify-content: center;
width: 100%;
    height:100vh;
    background-color: #CFE2F3;
}
.heading{
    padding:3vw 1vw ;
font-size: 2.5rem;
font-weight: bold;
display: flex;
/* text-align: center; */
justify-content: center;
align-items: center;
}

.image
{
    border: 4px solid white;
    border-radius: 7%;
    width: 26%;
   
}
.newsletter-container{
    padding: 2rem;
}
 
.newsletter-content{
    display: flex;
 height: 100%;
 flex-direction: row;  
 overflow: hidden;
} 
.news-left{
    width: 50%;
    height: 100%;
}

.news-left img{
    width: 80%;
    height:85%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    overflow: hidden;
}

.news-info{
    padding: 0.3rem;
}
.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    /* display: block; */
    margin: 0;
    padding: 0;
    
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.news-btn{
    background-color: darkgreen;
    color: #ffffff;
    border: none;
    /* padding: 1.5rem; */
    margin:3.5rem;
    float: top;
    
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
   
}
.news-btn:hover{
    background-color:#1FC029;
}
 

.box{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2rem;
    align-items: center;
   
    justify-content: center;
}

.icon-container .clr{
color: green;
}

.feature-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    /* align-items: center;
    justify-content: center; */
}

.ico-container{
    display: flex;
    align-items:center ;
    justify-content: center;
    
}
.visi{
 
   font-weight: bold;
   
}
.mark{
    font-weight: bold;
    font-size: 0.9rem;
}
.feature-card{
display: flex;
align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;

    
}
.feature-description{
    margin-top: 1.5rem;
}
.footer-container{
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    background-color: #111122;
}
.footer{
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.logo{
    display: flex;
align-items: center;

    width: 5.8%;
    height: 4.8rem;
}

.footer-grid-column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.4rem;
    padding: 2rem 1rem;
}
.footer-link-list{
    list-style-type: none;
}




























/* .band1 {
    width: 100%;
    margin: auto;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    
    padding: 0 0 0 0;
   
} */

/* @media (min-width:768px) {
    .card{
        flex-direction: row;
    }
    
} */










